
.show{
display:block;
}
.hide{
display:none;
}
.load{
display:none;
}
.warning{
display:block;
}
.fold_border{
display:none;
}
#department{
left:0;
top:22px;
display:none;
}
#department_2{
position:absolute;
left:-50px;
top:-420px;
*top:-405px;
display:none;
}
.search_detail{
display:none;
}
.three_straight_line_nav{
display:none;
}

.status_display{
display:none;
}